@model IEnumerable<QuizClash.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
