@Scripts.Render("~/bundles/jquery")
@model IEnumerable<QuizClash.Models.Question>

@{
    ViewBag.Title = "Question";
    string Content = Model.ToList()[0].Content;
    string AnswerA = Model.ToList()[0].AnswerA;
    string AnswerB = Model.ToList()[0].AnswerB;
    string AnswerC = Model.ToList()[0].AnswerC;
    string AnswerD = Model.ToList()[0].AnswerD;
    int CorrectAnswer = Model.ToList()[0].CorrectAnswer;

    bool answered = false;
}

<style>
    .selected {
        background-color: orange;
    }

    .correct {
        background-color: green;
    }
</style>

<script>
    $(document).ready(function() {
        $('.answer > div').click(function() {
            $('.answer > div').removeClass('selected');
            $(this).addClass('selected');
        });

        $('.submit').click(function() {
            $('.answer > div').eq(@CorrectAnswer-1).addClass('correct');
            $('.next_question').show();
            $('.submit').hide();
        });
    });
</script>

<h2>Question nr @Html.Raw(ViewBag.questionNum)</h2>

<p>@Content</p>
<div class="answer">
    <div>A: @AnswerA</div>
    <div>B: @AnswerB</div>
    <div>C: @AnswerC</div>
    <div>D: @AnswerD</div>
</div>

@{
    <button class="submit">
        Submit Answer
    </button>
}

<div class="next_question" style="display:none">
    @{
        if (ViewBag.questionNum < 10)
        {
            <button onclick="window.location.href='@Url.Action("Single//" +
@Html.Raw(ViewBag.questionNum + 1), "Questions")'">
                Next Question
            </button>
        }
        else
        {
            <button onclick="window.location.href='@Url.Action("End", "Questions")'">
                Finish
            </button>
        }
    }
</div>