@Scripts.Render("~/bundles/jquery")
@model IEnumerable<QuizClash.Models.Question>

@{
    ViewBag.Title = "Question";
    string Content = Model.ToList()[0].Content;
    string AnswerA = Model.ToList()[0].AnswerA;
    string AnswerB = Model.ToList()[0].AnswerB;
    string AnswerC = Model.ToList()[0].AnswerC;
    string AnswerD = Model.ToList()[0].AnswerD;
}

<style>
    .selected {
        background-color: orange;
    }
</style>

<script>
    $(document).ready(function() {
        $('.answer > div').click(function() {
            $('.answer > div').removeClass('selected');
            $(this).addClass('selected');
        });
    });
</script>

<h2>Question nr @Html.Raw(ViewBag.questionNum)</h2>

<p>@Content</p>
<div class="answer">
    <div>A: @AnswerA</div>
    <div>B: @AnswerB</div>
    <div>C: @AnswerC</div>
    <div>D: @AnswerD</div>
</div>

@{
    if (ViewBag.questionNum < 10)
    {
        <button onclick="window.location.href='@Url.Action("Single//" +
        @Html.Raw(ViewBag.questionNum + 1),"Questions")'">
            Submit
        </button>
    }
    else
    {
        <button onclick="window.location.href='@Url.Action("End","Questions")'">
            Finish
        </button>
    }
}