@Scripts.Render("~/bundles/jquery")
@model QuizClash.Models.Question

@{
    ViewBag.Title = "Question";
}

<style>
    .selected {
        background-color: orange;
    }

    .correct {
        background-color: green;
    }
</style>

<script>
    $(document).ready(function() {
        $('.answer > div').click(function() {
            $('.answer > div').removeClass('selected');
            $(this).addClass('selected');
        });

        $('.submit').click(function () {
            if ($('.selected').length == 0) {
                return;
            }
            $('.answer > div').eq(@Model.CorrectAnswer-1).addClass('correct');
            $('.next_question').show();
            $('.submit').hide();
            $('.answer > div').off('click');
        });
    });
</script>

<h2>Question nr @Html.Raw(ViewBag.questionNum)</h2>

<p>@Model.Content</p>
<div class="answer">
    <div>A: @Model.AnswerA</div>
    <div>B: @Model.AnswerB</div>
    <div>C: @Model.AnswerC</div>
    <div>D: @Model.AnswerD</div>
</div>

@{
    <button class="submit">
        Submit Answer
    </button>
}

<div class="next_question" style="display:none">
    @{
        if (ViewBag.questionNum < 10)
        {
            <button onclick="window.location.href='@Url.Action("Single//" +
@Html.Raw(ViewBag.questionNum + 1), "Questions")'">
                Next Question
            </button>
        }
        else
        {
            <button onclick="window.location.href='@Url.Action("End", "Questions")'">
                Finish
            </button>
        }
    }
</div>